.loader {
  text-align: center;
  margin-top: 20%;
}

body {
  font-family: "Edu TAS Beginner";
  font-weight: 600;
  background-image: url(./components/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}



@media (max-width:480px) {
  * {
    max-width: 100%;
  }

  .loader {
    margin-top: 50%;
  }
}

@media (max-width:768px) {
  .loader {
    margin-top: 37%;
  }
}

@media (max-width:991px) {
  .loader {
    margin-top: 28%;
  }
}